<section class="oe_container oe_dark lead">
        <h2 class="text-center">
            <font>
                <p class="text-primary text-center">
                    <b style="color: rebeccapurple;">
                        Odoo Automatic Backup Version 1.1
                    </b>
                    <br>
                   New version of auto backup with new approach.
                    <br>
                    In this module we solve some backend problem of main version;
                </p>
            </font>
        </h2>
        <center><a href="https://www.odoo.com/apps/modules/9.0/auto_backup/" target="_blank" class="btn btn-danger" style="color: whitesmoke; border-radius: 0px; position: relative; overflow: hidden;">
            Main Version
        </a></center>
        <div class="oe_row">
            <div class="oe_span12" style="width: 828px;">
            <div class="panel panel-primary" id="wkid0">
            <div class="panel-heading">
            <h3 class="panel-title" style="font-size: 25px;"><i class="fa fa-mail-forward"></i>New Features:</h3>
            </div>
                <div class="panel-body">
                    <ul class="list-unstyled">
                        <li><i class="fa fa-check text-primary"></i> Fix database backup size limitation errors.</li>
                        <li><i class="fa fa-check text-primary"></i> Fix add and remove backup ( .zip , .dump ) problems.  </li>
                        <li><i class="fa fa-check text-primary"></i> Improve Performance and reliability.</li>

                    </ul>
                </div>
            </div>
            </div>
        </div>
    </section>
<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <br>
            <h4 class="oe_slogan">
                 Configurations
            </h4>
        </div>
        <div class="oe_span12">
            <li>Go to Settings / Technical / Back-ups / Configure Backup</li>
            <li>Set your server configuration.</li>
            <li>If you want to write backups to a remote location you should fill in the SFTP details.</li>
            <li>Go to Settings / Technical / Automation / Scheduled actions</li>
            <li>Search the action 'Backup scheduler'.</li>
            <li>Set it active and choose how often you wish to take backups.</li>
            
        </div>
    </div>
</section>


<section class="bg-white">


    <div class="container">
        <div class="row o_v_align_col_sm">
            <div class="col-sm-6 col-lg-5 mb48 text-center-xs">
                <h2 class=" mt32 mb16">Need <b>help?</b></h2>
                <p class="font-heading text-heading mb24">Contact us to get a quote or a custom-tailored demonstration
                    with one of our business advisors.</p>


                <b>support@artarad.com:</b>
                <a href="mailto:support@artarad.com?Subject=artarad theme" target="_blank" class="btn btn-default" style="position: relative; overflow: hidden;">Contact
                    us</a>
            </div>
            <div class="col-sm-6 col-lg-5 col-lg-offset-2 hidden-xs">
                <img src="//odoocdn.com/openerp_website/static/src/img/2016/pricing/support_banner.jpg" class="img-responsive pull-right" alt="">
            </div>
        </div>
    </div>
</section>


